<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Your Smart Map Solution
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-side-nav [countryInput]="appMap.countryInput" (onRemoveAllMarkersClick)="appMap.onRemoveAllMarkersClick()"
            (onAutoZoomToCenterAllMarkersClick)="appMap.onAutoZoomToCenterAllMarkersClick()"
            (onMoveToYourLocationClick)="appMap.onMoveToYourLocationClick()"
            (onMarkerTitleChanged)="appMap.onMarkerTitleChange($event)"
            (onSearchCountryInput)="appMap.onSearchCountryInput($event)"
            (onSelectedCountry)="appMap.onSelectedCountry($event)" (onLoadAllPinsClick)="appMap.onLoadAllPinsClick()"
            (onSelectedApartmentItem)="appMap.onSelectedApartmentItem($event)"></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class=" content mat-elevation-z8">
            <app-map #appMap></app-map>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>