<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Your Smart Map Solution
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="/home">
      <span>Load Pins</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <span>Replace Pin on Map dynamically</span>
    </button>
    <!-- <button mat-button class="menu-button" routerLink="/about">
      <mat-label>Zoom To</mat-label>
      <input matInput placeholder="Place Name" value="">
    </button> -->
    <mat-form-field class="zoom-to" appearance="fill">
      <mat-label class="zoom-to-label">Zoom To</mat-label>
      <input matInput placeholder="Place Name" value="">
    </mat-form-field>
    <button mat-button class="menu-button" routerLink="/profile">
      <span>Auto Zoom to Show All Pin</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>