<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Your Smart Map Solution
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" (click)="appMap.onLoadAllPinsClick()">
      <span>Load All Pins</span>
    </button>
    <button mat-button class="menu-button" (click)="appMap.onRemovedAllPinsClick()">
      <span>Remove all pins</span>
    </button>
    <button mat-button class="menu-button" (click)="appMap.onAutoZoomToCenterAllPinsClick()">
      <span>Auto Zoom to center map on a group of pins</span>
    </button>
    <button mat-button class="menu-button" (click)="appMap.onMoveToYourLocationClick()">
      <span>Move to You Location</span>
    </button>

    <mat-form-field class="form-fields" appearance="fill">
      <mat-label class="form-fields-label">Add a Marker with custom Title</mat-label>
      <input matInput placeholder="Marker Title" value="" [(ngModel)]="appMap.markerTitle">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Zoom To</mat-label>
      <input type="text" placeholder="Location Name" aria-label="Zoom To" matInput [(ngModel)]="appMap.countryInput"
        [matAutocomplete]="auto" (ngModelChange)="appMap.onSearchCountryInput(appMap.countryInput)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="appMap.countryLoading" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!appMap.countryLoading">
          <mat-option *ngFor="let option of appMap.countrySuggestions$ | async" [value]="option"
            (click)="appMap.onSelectedCountry(option)">
            {{option.Name}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- <router-outlet></router-outlet> -->
      <app-map #appMap></app-map>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>